.infohud {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 0.4rem;
}

.peerpercent {}

.peerpercent::before {
    content: "Peer relays: "
}

.peerpercent::after {
    content: "%"
}